@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: #e7e7e7;
  font-family: "Montserrat", "Verdana";
  color: #242b2e;
  height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.col {
  flex: 1;
  height: 100vh;
}

/* .col-left {
  background-image: url(../images/yellow-blob.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 85%; 
} */

/* using z-index */
.col-left .cover-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 45%;
  z-index: -1; /* this image will be stacked below the phone image and form */
}

.col-left .phone-image {
  position: absolute;
  left: 15%;
  top: 12%;
  height: 500px;
}

.col-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.col-right h1,
.col-right button,
.col-right .divider {
  width: 570px;
}

.col-right input[type="email"] {
  width: 520px;
}

.col-right nav a {
  display: block;
}

.col-right h1 {
  margin-bottom: 22px;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
}

.col-right input,
.col-right button {
  margin: 8px 6px;
  padding: 12px 25px;
  font-family: "Montserrat";
  font-weight: 600;
  border: none;
  border-radius: 20px;
}

.col-right input {
  font-size: 18px;
}

.col-right button {
  color: #ffffff;
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
  transition: box-shadow 100ms ease-in-out;
}

.col-right button:hover {
  box-shadow: 0px 0px 30px 30px #242b2e inset;
}

.create-account {
  background-color: #ffa500;
}

.facebook {
  background-color: #4267b2;
}

.twitter {
  background-color: #00acee;
}

.github {
  background-color: #6cc644;
}

.col-right .divider {
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 8px;
}
